<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="menu_electoral" name="Sistema Electoral"/>

    <menuitem name="Referidos"  sequence ="1" id="main_menu_referencia" parent="menu_electoral" groups="group_electoral_manager,group_electoral_supervisor,group_electoral_user,group_electoral_direccion"
            action="action_referencia"/>

    <menuitem name="Delegados" sequence ="2" id="main_menu_registro" parent="menu_electoral" groups="group_electoral_manager,group_electoral_supervisor,group_electoral_user,group_electoral_direccion,group_electoral_direccion"/>
    <menuitem name="Delegado JRV" id="main_menu_delegado" parent="main_menu_registro"
            action="action_delegadojrv" groups="group_electoral_manager,group_electoral_user,group_electoral_direccion"/>
    <menuitem name="Coordinador Recinto" id="main_menu_coordinador_recinto" parent="main_menu_registro" groups="group_electoral_manager,group_electoral_supervisor,group_electoral_user,group_electoral_direccion"
            action="action_coordinadorreciento"/>
    <menuitem name="Delegado CDA" id="main_menu_delegadocda" parent="main_menu_registro" groups="group_electoral_manager,group_electoral_supervisor,group_electoral_user,group_electoral_direccion"
            action="action_delegadocda"/>
    <menuitem name="Delegado Junta Provincial" id="main_menu_delegadojp" parent="main_menu_registro" groups="group_electoral_manager,group_electoral_supervisor,group_electoral_user,group_electoral_direccion"
            action="action_delegadojp"/>

    <menuitem name="Recinto" sequence ="3" id="main_menu_recinto" parent="menu_electoral" groups="group_electoral_manager,group_electoral_supervisor,group_electoral_direccion"
            action="action_recinto"/>

    <menuitem name="Juntas" sequence ="4" id="main_menu_junta" parent="menu_electoral" groups="group_electoral_manager,group_electoral_supervisor,group_electoral_direccion"
            action="action_junta"/>


    <menuitem name="Configuracion" sequence ="90" id="main_menu_configuracion" parent="menu_electoral" groups="group_electoral_manager,group_electoral_supervisor"/>

    <menuitem name="Pre Data" id="main_menu_pre_data" parent="main_menu_configuracion" groups="group_electoral_manager,group_electoral_supervisor"
            action="action_pre_data"/>

    <menuitem name="Dignidad" id="main_menu_dignidad" parent="main_menu_configuracion" groups="group_electoral_manager,group_electoral_supervisor"
            action="action_dignidad"/>
    <menuitem name="Candidatos" id="main_menu_candidato" parent="main_menu_configuracion" groups="group_electoral_manager,group_electoral_supervisor"
            action="action_candidato"/>

    <menuitem name="Provincia" id="main_menu_provincia" parent="main_menu_configuracion" groups="group_electoral_manager,group_electoral_supervisor"
            action="action_provincia"/>
    <menuitem name="Canton" id="main_menu_canton" parent="main_menu_configuracion" groups="group_electoral_manager,group_electoral_supervisor"
            action="action_canton"/>
    <menuitem name="Parroquia" id="main_menu_parroquia" parent="main_menu_configuracion" groups="group_electoral_manager,group_electoral_supervisor"
            action="action_parroquia"/>
    <menuitem name="Zona" id="main_menu_zona" parent="main_menu_configuracion" groups="group_electoral_manager,group_electoral_supervisor"
            action="action_zona"/>

</odoo>
