<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem name="Capacitacion" sequence ="5" id="main_menu_capacitacion" parent="ce_base.menu_electoral"/>
    <menuitem name="Capacitadores" id="main_menu_capacitador" parent="main_menu_capacitacion"
            action="action_capacitador"/>
    <menuitem name="Capacitaciones" id="main_menu_capacitaciones" parent="main_menu_capacitacion"
            action="action_capacitacion"/>
    <menuitem name="Resumen de Capacitados" id="main_menu_recumen_capacitados" parent="main_menu_capacitacion"
            action="action_resumen_capacitados"/>
</odoo>